html, body { height: 100%; }
body { margin: 0; background: #000; }
canvas { display: block; overflow: auto;}
.waves { position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index: -1; }

.heading{
font-family: 'Nixie One', cursive;
color: white;
font-size: 300%;
padding-left:7%;
padding-top:5%;
}

.bt{
	margin-top: 2%;
	margin-left: 90%;
}

.text{
	font-size: 180%;
	color: white;
	font-family: 'Nixie One', cursive;
	padding-top: 2%;

}

.wrapper { 
  overflow:hidden;
}

.wrapper div {
   min-height: 100%;
}
#one {
  float:left; 
  margin-right:5%;
  width:auto;
}
#two { 
	float: left;
    width: auto;
}

@media screen and (max-width: 400px) {
   #one { 
    float: none;
    margin-right:0;
    width:auto;    
  }
}
